ROS_DOMAIN_ID=0
ROS_COMMAND_TOPIC=/robot_task/command
ROS_STATE_TOPIC=/joint_states
ROS_SEQUENCE_TOPIC=/web/sequence_id
ROS_TELEOP_TWIST_TOPIC=/web/teleop_twist
ROS_VOICE_TEXT_TOPIC=/voice/text
ROS_VOICE_START_TOPIC=/voice/start_listening
ROS_VOICE_STATUS_TOPIC=/voice/status
ROS_VOICE_EVENTS_TOPIC=/voice/events
ROS_JETSON_METRICS_TOPIC=/system/jetson_metrics
JETSON_METRICS_MAX_AGE_SEC=15.0
JETSON_METRICS_ALLOW_LOCAL_FALLBACK=false
ROS_IMAGE_TOPIC=/perception/yolo/debug_image
ROS_IMAGE_IS_COMPRESSED=false
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_ORIGINS=http://localhost:3000
ROS_REQUIRED_NODES=robot_state_publisher,move_group,egm_bridge,egm_moveit_executor,gripper_node,gripper_joint_state_publisher,robot_task_tree,voice_pipeline_node,web_command_bridge,gamepad_command_bridge
