ROS_DOMAIN_ID=0
ROS_COMMAND_TOPIC=/robot_task/command
ROS_STATE_TOPIC=/joint_states
ROS_SEQUENCE_TOPIC=/web/sequence_id
ROS_TELEOP_TWIST_TOPIC=/web/teleop_twist
ROS_VOICE_TEXT_TOPIC=/voice/text
ROS_VOICE_START_TOPIC=/voice/start_listening
ROS_VOICE_STATUS_TOPIC=/voice/status
ROS_VOICE_EVENTS_TOPIC=/voice/events
ROS_IMAGE_TOPIC=/camera/color/image_raw
ROS_IMAGE_IS_COMPRESSED=false
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_ORIGINS=http://localhost:3000
