ROS_DOMAIN_ID=0
ROS_COMMAND_TOPIC=/robot_task/command
ROS_STATE_TOPIC=/joint_states
ROS_SEQUENCE_TOPIC=/web/sequence_id
ROS_TELEOP_TWIST_TOPIC=/web/teleop_twist
ROS_VOICE_TEXT_TOPIC=/voice/text
ROS_DETECTION_TOPIC=/perception/detections_3d
ROS_IMAGE_TOPIC=/camera/color/image_raw
ROS_IMAGE_IS_COMPRESSED=false
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ROS_REQUIRED_NODES=robot_state_publisher,move_group,egm_bridge,egm_moveit_executor,egm_joint_jog_servo,gripper_node,gripper_joint_state_publisher,robot_task_tree,voice_command_parser,web_command_bridge
